@media only screen and (min-width: 600px) {
  body {
    background: linear-gradient(to right, #30304f, #474773);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  header,
  footer {
    min-height: 6rem;
  }

  header {
    box-sizing: border-box;
    width: calc(100%-2rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.8rem;
    z-index: 1000;
    flex: 1;
    min-height: 6rem;
  }

  img.logo {
    max-width: 240px;
  }

  #burger {
    display: none;
  }

  ul.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;
  }

  ul.menu li {
    width: auto;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  ul.menu li:first-child {
    padding-left: 0;
  }

  ul.menu li:last-child {
    padding-right: 0;
  }

  .content-card {
    min-height: 40rem;
    font-size: clamp(2.5rem, 3vw, 4rem);
    line-height: 160%;
  }

  div.brand-message {
    height: 60rem;
    background: url(./assets/home-brand-desktop.png) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    margin: 2rem;
    font-size: clamp(4rem, 5vw, 6rem);
    line-height: 160%;
    text-align: right;
  }

  h3 {
    margin: 2rem;
    font-size: clamp(3rem, 3vw, 4.5rem);
    line-height: 160%;
    text-align: left;
  }

  div.home-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.home-description p {
    width: 85%;
  }

  div.home-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: url(./assets/home-nav-links.png) no-repeat;
    background-size: cover;
  }

  .home-cta li {
    font-size: clamp(2.4rem, 3vw, 3.6rem);
    padding: 1.6rem 0.8rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: bottom;
    justify-content: center;
    background: hsla(240, 18%, 17%, 1);
    padding-top: 1rem;
  }

  span.footer {
    font-size: clamp(1.4rem, 1.4vw, 1.8rem);
  }

  #connect {
    position: absolute;
    right: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4d4dff;
    border-radius: 1.4rem 1.4rem 0 0;
    padding-top: min(2vw, 1.4rem);
    padding-bottom: min(2vw, 1.4rem);
    padding-right: min(4vw, 4rem);
    padding-left: min(4vw, 4rem);
    font-size: clamp(1.8rem, 2vw, 2.4rem);
    letter-spacing: 0.2rem;
  }
}
